---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="grid grid-cols-3 gap-4 px-4 md:px-48 sticky top-0 z-20">
  <LanguagePicker />
  <h1 class="place-self-center text-xl md:text-6xl text-nowrap">
    Marko Visualz
  </h1>
  <a class="place-self-end self-center" href="#contact">{t("nav.contact")}</a>
</div>
