<div class="grid grid-cols-3 gap-4 px-4 md:px-48 sticky top-0">
    <span class="self-center">®2024</span>
    <h1 class="place-self-center text-xl md:text-6xl text-nowrap">
        Marko Visualz
    </h1>
    <span class="place-self-end self-center">CONTACT</span>
</div>
